<!-- Header -->
<section id="header">
  <header class="major">
    <h1>Open Shelf</h1>
    <p>A place to find and share freely available books - where pages are never wasted.</p>
  </header>
  <div class="container">
    <ul class="actions">
      <li><a href="/login" + {{id}}, class="button special scrolly">Login</a></li>
      <li><a href="/users/new" class="button special scrolly">Signup</a></li>
    </ul>
  </div>
</section>

<!-- One -->
<section id="one" class="main special">
  <div class="container">
    <span class="image fit primary"><img src="/public/images/pic01.jpg" alt="" /></span>
    <div class="content">
      <header class="major">
        <h2>About Openshelf</h2>
      </header>
      <p>Inspired by one of our team-member's work in the public library system, we realized a large
      number of books are often thrown away - extra copies, outdated editions, you name it. We at Open Shelf
      believe that rather than wasting these books, one libraries trash could be one persons treasure trove
      of knowledge. </p>
    </div>
<!--     <a href="#two" class="goto-next scrolly">Next</a> -->
  </div>
</section>


