<h1>Example App: Home</h1>

<script>
  $.(function){
    $.ajax({
      url: "https://www.googleapis.com/books/v1/volumes?q=isbn:9781937557065", 
      method: "get",
      dataType: "json",
      success: function (book_info)  {
        console.log(book_info);
      }
    });
  }

</script> 