<link rel="stylesheet" href="/styles/sidepage.css" type="text/css" />

<section>
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="/">
      <img src="/images/shelf.png" class="hvr-grow">
    </a>
    <a class="nav-item is-brand" href="/">
      <h2 class="brand-text">Open Shelf</h2>
    </a>
  </div>
</nav>
</section><br>

<main id="login-body">
  <br>
  <section class="columns">
    <div class="column is-one-third">
    </div>
    <div class="column is-one-third has-text-centered"> 
      <h1 class="title is-3">Login</h1>
      <p class="subtitle is-5">Welcome back!</p>
    </div class="column">
    <div class="column is-one-third">
    </div>
  </section>  

  <section class="columns">
    <div class="column">
    </div>

    <div class="column is-half">
      <div class="box">
        <div class="column">
          <form action="/login" method="post">   
            <label for="login-email" class="label">Email:</label>
            <p class="control">
              <input id="login-email" name="email" class="input" type="text" placeholder="name@email.com">
            </p>

            <label for="submit-title" class="label">Password:</label>
            <p class="control">
              <input id="submit-title" name="password" class="input" type="password" placeholder="securepassword">
            </p>
            <p class="control">
              <input type="submit" value="Login" class="button is-primary">
              <a href="/users/new"><button class="button is-primary">New User</button></a>
            </p>
          </form>
        </div>
      </div>
    </div>

    <div class="column">
    </div>
  </section>
</main> 