<main>
  <form action="" method="post">   <!-- action needs a route -->
    <label for="submit-isbn">ISBN:</label>
    <input id="submit-isbn" type="number">

    <label for="submit-title">Book Title:</label>
    <input id="submit-title" type="text">

    <label for="submit-author">Author(s):</label>
    <input id="submit-author" type="text">

    <label for >Author:</label>
    <input type="submit" value="Save">
  </form>
</main>