<!-- Viewpage for creating a new user. May be a part of the single page users application. Thus, rendered as a partial
-->

<section>
  <h2>Create a New User</h2>
  <h3>Thanks for using Open Shelf!</h3>
  <form action="/users/new", method="post"> <!-- action needs a route -->
    <label for="new-user-first" class="label">First Name: </label>
    <input id="new-user-first" name= "firstname" class="input" type= "text"><br>

    <label for="new-user-last" class="label">Last Name: </label>
    <input id="new-user-last" name= "lastname" class="input" type= "text"><br>

    <label for="new-user-email" class="label">Email: </label>
    <input id="new-user-email" name ="email" class="input" type = "text"><br>

    <label for="new-user-password" class="label">Password: </label>
    <input id="new-user-password" name ="password" class="input" type = "password"><br>

    <label for="new-user-confirmation" class="label">Confirm Password: </label>
    <input id="new-user-confirmation" name ="confirmation" class="input" type = "password"><br>

    <input type="submit" value="Create User">
  </form>
</section>