<!-- Viewpage for creating a new user. May be a part of the single page users application. Thus, rendered as a partial
-->

<!-- Navbar TODO: change into a Handlebars partial template-->
<section>
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="#">
      <h2>Open Shelf</h2>
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item" href="#">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item" href="#">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    
    <a class="nav-item" href="#">
      <h1>Profile Page</h1>
    </a>

    <span class="nav-item">
      <a class="button is-danger" href="/books/new" >
        <span>Add Book</span>
      </a>
      <a class="button" href="#">
        <span>Settings</span>
      </a>
      <a class="button" href="/logout">
        <span>Logout</span>
      </a>
    </span>
  </div>
</nav>
</section><br>

<main>
<section class="columns">
    <div class="column">
    </div>
    <div class="column is-one-third has-text-centered"> 
      <h2 class="title is-3">Create a New User</h2>
      <h3 class="subtitle is-5">Thanks for using Open Shelf!</h3>
    </div class="column">
    <div class="column">
    </div>
</section>

<section class="columns">
  <div class="column">
  </div>
  <div class="column is-half">
    <div class="box">
      <form action="/users/new", method="post"> <!-- action needs a route -->
        <label for="new-user-first" class="label">First Name: </label>
        <p class="control">
          <input id="new-user-first" name= "firstname" class="input" type= "text" placeholder="Bob">
        </p>

        <label for="new-user-last" class="label">Last Name: </label>
        <p class="control">
          <input id="new-user-last" name= "lastname" class="input" type= "text" placeholder="Smith">
        </p>

        <label for="new-user-email" class="label">Email: </label>
        <p class="control">
          <input id="new-user-email" name= "email" class="input" type= "text" placeholder="bobsmith@gmail.com">
        </p>

        <label for="new-user-password" class="label">Password: </label>
        <p class="control">
          <input id="new-user-password" name ="password" class="input" type = "password" placeholder="bobsmith">
        </p>

        <label for="new-user-confirmation" class="label">Confirm Password: </label>
        <p class="control">
          <input id="new-user-confirmation" name ="confirmation" class="input" type="password" placeholder="bobsmith">
        </p>

        <br>
        <div class="centering">
          <input type="submit" value="Create User" class="button is-primary is-medium">
        </div>
      </form>
    </div>
  </div>
  <div class="column">
  </div>
</section>
</main>