<!-- Viewpage for creating a new user. May be a part of the single page users application. Thus, rendered as a partial
-->

<section>
  <h2>Create a New User</h2>
  <h3>Thanks for using Open Shelf!</h3>
  <hr>
  <form>
    <label for="new-user-first" class="label">First Name: </label>
    <input id="new-user-first" class="input" type = "text"><br>

    <label for="new-user-last" class="label">Last Name: </label>
    <input id="new-user-last" class="input" type = "text"><br>

    <label for="new-user-email" class="label">Email: </label>
    <input id="new-user-email" class="input" type = "text"><br>

    <input type="submit" value="Create User">
  </form>
</section>