
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="/">
      <img src="/images/shelf.png" class="hvr-grow">
    </a>
    <a class="nav-item is-brand" href="/users/{{userId}}">
      <h2 class="brand-text">Open Shelf</h2>
    </a>
  </div>

  <div class="nav-right nav-menu">
    <p class="nav-item" id="message_box">
      <span id="message_count">0</span>
      &nbsp;<span id="message_header">Message</span>
    </p>

    <span class="nav-item">
      <a class="button is-danger" href="/books/new">
        <span>Add Book</span>
      </a>
      <a id="settings" class="button is-primary" href="/users/{{userId}}" >
        <span>Your Books</span>
      </a>
      <a id="preferences" class="button is-info" href="#" >
        <span>Preferences</span>
      </a>
      <a class="button" href="/logout">
        <span>Logout</span>
      </a>
    </span>
  </div>
</nav>

<section class="container">
  <div class="columns">
    <div class="column is-one-third" id="search-field">
      <section class="section box">
        <p class="control has-addons">
          <span class="select">
            <select class="filter">
              <option>title</option>
              <option>author</option>
              <option>genre</option>
            </select>
          </span>
          <input class="input is-expanded" type="text" placeholder="Search Books">
          <a class="button is-success">Search</a>
        </p>
        <div id="search-field-results">
        </div>
      </section>
    </div>

    <div class="column is-two-thirds">
      <section class="section box" id="info-field">
        <p class="book-title title is-3">Your Books:</p>
        <div class="show_users title is-5"></div>
        <div class="show_books panel"></div>
      </section>
    </div>
  </div>
</section>
<input type="hidden" id="user-id" value="{{userId}}">


