<h1>Create Message</h1>
  <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script>
    var socket = io();
      socket.emit('subscribe', conversation_id);

      socket.emit('send message', {
          room: conversation_id,
          message: "Some message"
      });

      socket.on('conversation private post', function(data) {
          //display data.message
      });
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
