<main class="columns container is-fluid">
  <section class="column is-one-third is-fluid">
    <div class="camera-box">
      <div class="scan-area" style="position: relative; display: inline-block;">
        <canvas width="320" height="240" id="cam" class="background-colorISBN" style="transform: scale(1, 1);"></canvas>
        <div class="scanner-laser laser-rightBottom" style="opacity: 0.5; display: block;"></div>
        <div class="scanner-laser laser-rightTop" style="opacity: 0.5; display: block;"></div>
        <div class="scanner-laser laser-leftBottom" style="opacity: 0.5; display: block;"></div>
        <div class="scanner-laser laser-leftTop" style="opacity: 0.5; display: block;"></div>
      </div>
    </div>

    <div>
      <button id="play">Play</button>
      <button id="stop">Stop</button>
      <select id="camera-select"></select>
    </div>
  </section>
  <section class="column is-two-thirds">
    <form action="/new" method="post" class="book-submit-form">   <!-- action needs a route -->
      <label for="submit-isbn" class="label caption">ISBN:</label>
      <input id="submit-isbn" class="input" type="text" name="isbn"><br>

      <label for="submit-title" class="label">Book Title:</label>
      <input id="submit-title" class="input" type="text" name="title"><br>

      <label for="author" class="label">Author(s):</label>
      <input id="author" class="input" type="text" name="author"><br>

      <label for="submit-genre" class="label">Genre:</label>
      <input id="submit-genre" class="input" type="text" name="genre"><br>

      <input type="submit" value="Post Book">
    </form>
  </section>
</main>
