body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

#search-field {
  margin-top: 30px;

}

#info-field {
  margin-top: 30px;
}

.centering{
  width: 50%; 
  margin: -10px 62px auto auto;
}


